<form action="#" method="post" id="form-site-search" class="site-search">
    <fieldset>
        <legend>Site Search</legend>
        <label for="site-search">Site Search</label>
        <div class="input-button">
            <input type="search" placeholder="Site Search" name="site-search" id="site-search">
            <button id="btn-site-search" class="search-submit">
                <span class="icon-search" aria-hidden="true"></span>
                <span class="site-search-button-text">Search</span>
            </button>
        </div>
    </fieldset>
</form>