<form action="#" method="post" id="form-job-search" class="job-search job-search-vertical refine-form is-adv-active">

	<div class="my-searches collapsible is-active">

		<h2>Recent Searches</h2>

		<div>

			<ul class="no-bullet">
				<li><a href="#">Web developer</a></li>
				<li><a href="#">Web developer - London</a></li>
				<li><a href="#">Web developer - London - from &pound;35000</a></li>
				<li><a href="#">Javascript, HTML, Sass - London - from &pound;35000</a></li>
			</ul>

			<button id="btn-clear-searches" class="tiny icon">Clear Recent Searches <i class="icon-close"></i></button>

		</div>

	</div>

	<div class="my-searches saved-searches has-saved-searches collapsible is-active">

		<h2>Saved Searches</h2>

		<div>

			<ul class="no-bullet">
				<li><a href="#">Saved search title #1</a></li>
				<li><a href="#">My second saved search</a></li>
			</ul>

		</div>

	</div>

	<h2 id="job-search-header">Your job search</h2>

	<fieldset class="quick-job-search">

		<legend>Quick Job Search</legend>

		<div class="field">
			<label for="keywords">Job title / Keywords</label>
			<input type="search" id="keywords" name="keywords" placeholder="Eg. Receptionist"
			value="Frontend Web Developer">
		</div>

		<div class="field">
			<label for="sector">Sector</label>
			<select id="sector" name="sector" data-sector-id="sector2">
				<option value="">Pick a sector</option>
			</select>
		</div>

		<div class="field">
			<label for="location">Location / Postcode</label>
			<input type="text" id="location" name="location" placeholder="Eg. London">
		</div>

	</fieldset>

	<fieldset id="adv-job-search" class="adv-job-search" aria-hidden="true">

		<legend>Advanced Job Search</legend>

		<div class="field-wrap">

			<fieldset class="job-type-chks">

				<legend>Job type</legend>


				<div class="chk-wrap">

					<ul class="no-bullet">
						<li>
							<label for="fulltime" class="checkbox-label">
								<input id="fulltime" name="jobtype" type="checkbox" value="Full time">
								<span> Full time</span>
							</label>
						</li>
						<li>
							<label for="parttime" class="checkbox-label">
								<input id="parttime" name="jobtype" type="checkbox" value="Part time">
								<span> Part time</span>
							</label>
						</li>
					</ul>

					<ul class="no-bullet">
						<li>
							<label for="permanent" class="checkbox-label">
								<input id="permanent" name="jobtype" type="checkbox" value="Permanent">
								<span> Permanent</span>
							</label>
						</li>
						<li>
							<label for="contract" class="checkbox-label">
								<input id="contract" name="jobtype" type="checkbox" value="Contract">
								<span> Contract</span>
							</label>
						</li>
						<li>
							<label for="temporary" class="checkbox-label">
								<input id="temporary" name="jobtype" type="checkbox" value="Temporary">
								<span> Temporary</span>
							</label>
						</li>
					</ul>

				</div>

			</fieldset>

		</div>
		<!-- /field-wrap -->

		<div class="field-wrap">

			<div class="field">
				<label for="sub-sector">Sub-sector</label>
				<select id="sub-sector" name="sub-sector" data-subsector-id="subsector2-2">
					<option>Pick a Sub-sector</option>
				</select>
			</div>

      <div class="field field-salary">
          
        <label for="min-salary">Salary</label>
        <input type="number" id="min-salary" name="min-salary" min="0" step="any" class="input-sml" value="">
        
        <label for="max-salary" class="inline">to</label>
        <input type="number" id="max-salary" name="max-salary" min="0" step="any" class="input-sml" value="">
        
        <label for="salary-per" class="inline">per</label>
        <select id="salary-per" class="select-sml">
          <option value="year">Year</option>
          <option value="day">Day</option>
          <option value="hour">Hour</option>
        </select>

      </div>

			<!--
			<div class="field">
	        <label for="min-salary">Minimum Salary</label>
	        <input type="range" min="5000" max="100000" id="min-salary" step="5000" value="20000" name="min-salary"
	               list="salarysettings" oninput="imp_jobsearch.updateSlider(value, 'min-salary-display')">
	        <span class="range-display">&pound;<output for="min-salary" id="min-salary-display">20000</output></span>
	    </div>

	    <div class="field">
	        <label for="max-salary">Maximum Salary</label>
	        <input type="range" min="5000" max="100000" id="max-salary" step="5000" value="100000" name="max-salary"
	               list="salarysettings" oninput="imp_jobsearch.updateSlider(value, 'max-salary-display')">
	        <span class="range-display">&pound;<output for="max-salary" id="max-salary-display">100000</output></span>
	    </div>
	    -->

		</div>
		<!-- / field-wrap -->

		<div class="field-wrap">

			<div class="field">
				<label for="distance">Within <small class="show-ie9-only">(0 - 50 miles)</small></label>
				<input type="range" min="0" max="50" id="distance" step="10" value="20" name="distance"
				list="distancesettings" oninput="imp_jobsearch.updateSlider(distance, value, 'distance-display')" onchange="imp_jobsearch.updateSlider(distance, value, 'distance-display')">
				<span class="range-display"><output for="distance" id="distance-display">20</output> miles</span>
			</div>

		</div>
		<!-- / field-wrap -->

	</fieldset>

	<div class="form-controls">

		<div class="show-hide-adv">
			<a href="#" id="show-adv-search" class="toggle show-adv">
          <i class="icon-arrow-right"></i> View Advanced Search
      </a>
      <a href="#" id="hide-adv-search" class="toggle hide-adv">
          <i class="icon-arrow-up"></i> Hide Advanced Search
      </a>
		</div>

		<button id="btn-save-search" class="btn-savesearch tertiary">Save Search</button>
		<button id="btn-search" class="secondary" type="submit">Search</button>

	</div>


</form>