<form action="#" method="post" id="form-request-callback" class="form-inline form-2-col form-request-callback collapsible" novalidate="novalidate">

  <h2>Request a callback</h2>

  <div>

    <div class="alert-box alert-box-form alert-box-ok is-hidden">
      <p><i class="icon-bell" aria-hidden="true"></i><span class="message"></span></p>
      <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </div>

    <div class="alert-box alert-box-form alert-box-error is-hidden">
      <p><i class="icon-bell" aria-hidden="true"></i><span class="message"></span></p>
      <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </div>

    <fieldset class="field-wrap">

      <div class="field">
        <label for="callback-name">Name <abbr title="Required">*</abbr></label>
        <input type="text" id="callback-name" name="callback-name" placeholder="Joe Bloggs" required aria-required="true">
      </div>

      <div class="field">
        <label for="callback-phone">Telephone Number <abbr title="Required">*</abbr></label>
        <input type="tel" id="callback-phone" name="callback-phone" placeholder="020 123 567 321" required aria-required="true">
      </div>

    </fieldset>

    <div class="form-controls">
      <button id="btn-callback" type="submit">Submit</button>
    </div>

  </div>

</form>