<form action="#" method="post" id="form-send-to-friend" class="form-inline form-2-col form-send-to-friend collapsible" novalidate="novalidate">

  <h2>Send to a friend</h2>

  <div>

    <div class="alert-box alert-box-form alert-box-ok is-hidden">
      <p><i class="icon-bell" aria-hidden="true"></i><span class="message"></span></p>
      <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </div>

    <div class="alert-box alert-box-form alert-box-error is-hidden">
      <p><i class="icon-bell" aria-hidden="true"></i><span class="message"></span></p>
      <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </div>

    <fieldset class="field-wrap">

      <div class="field">
        <label for="send-to-friends-name">Friend's Name <abbr title="Required">*</abbr></label>
        <input type="text" id="send-to-friends-name" name="sendtofriendsname" required aria-required="true" placeholder="Joe Bloggs">
      </div>

      <div class="field">
        <label for="send-to-friends-email-address">Friend's Email Address <abbr title="Required">*</abbr></label>
        <input type="email" id="send-to-friends-email-address" name="sendtofriendsemailaddress" required aria-required="true" placeholder="name@domain.com">
      </div>

    </fieldset>

    <fieldset class="field-wrap">

      <div class="field">
        <label for="send-to-your-name">Your Name <abbr title="Required">*</abbr></label>
        <input type="text" id="send-to-your-name" name="sendtoyourname" required aria-required="true" placeholder="John Doe">
      </div>

      <div class="field">
        <label for="send-to-your-email-address">Your Email Address <abbr title="Required">*</abbr></label>
        <input type="email" id="send-to-your-email-address" name="sendtoyouremailaddress" required aria-required="true" placeholder="name@domain.com">
      </div>

    </fieldset>

    <div class="form-controls">
      <button id="btn-send-to-friend" type="submit">Submit</button>
    </div>

  </div>

</form>