<form action="#" method="post" id="form-login" class="form-inline form-login" novalidate="novalidate">

  <h2>Sign in details</h2>

  <fieldset>

    <div class="field">
        <button class="button icon linkedin" type="button" id="si-linked-in-register">
            <i class="icon-linkedin"></i>
            <span>Sign in with LinkedIn</span>
        </button>
    </div>

    <div class="field">
      <label for="li-email">Email <abbr title="Required">*</abbr></label>
      <input type="email" id="li-email" required aria-required="true" min-length="5" name="email" placeholder="name@domain.com">
    </div>

    <div class="field single-col">
      <label for="li-password">Password <abbr title="Required">*</abbr></label>
      <div class="input-button show-hide-pwd">
        <input type="password" id="li-password" required aria-required="true" class="password" min-length="6" name="password" placeholder="">
        <button class="button secondary btn-show-hide">
          <span class="btn-show">Show</span>
          <span class="btn-hide">Hide</span>
        </button>
      </div>
    </div>

    <div>
      <label class="checkbox-label">
        <input type="checkbox" name="remember" id="li-remember">
        <span> Remember me</span>
      </label>
    </div>

  </fieldset>

  <div class="form-controls">
    <p><a href="#">Forgotten password?</a></p>
    <button id="btn-signin" type="submit">Sign in</button>
  </div>

</form>