<fieldset class="about-you">

    <legend>About you</legend>

    <div class="field-wrap field-col-wrap field-col-wrap-2col">

        <div class="form-col">

            <div class="field">
                <label for="ay-salutation">Salutation <abbr title="Required">*</abbr></label>
                <select id="ay-salutation" name="salutation">
                    <option value="" selected="selected">Select</option>
                    <option value="mr">Mr</option>
                    <option value="mrs">Mrs</option>
                    <option value="miss">Miss</option>
                    <option value="dr">Dr</option>
                </select>
            </div>

            <div class="field">
                <label for="ay-first-name">First Name <abbr title="Required">*</abbr></label>
                <input type="text" id="ay-first-name" required aria-required="true" min-length="2" name="ay-firstname" placeholder="Joe">
            </div>

            <div class="field">
                <label for="ay-last-name">Last Name <abbr title="Required">*</abbr></label>
                <input type="text" id="ay-last-name" required aria-required="true" min-length="2" name="ay-lastname" placeholder="Bloggs">
            </div>

        </div>

        <div class="form-col">

            <div class="field">
                <label for="ay-region">Country / Region <abbr title="Required">*</abbr></label>
                <select id="ay-region" class="dd-region" name="region" data-selected="England">
                    <option value="">Select a Region / Country</option>
                </select>
            </div>

            <div class="field">
                <label for="ay-county">County / State <abbr title="Required">*</abbr></label>
                <select id="ay-county" class="dd-county" name="county" disabled="disabled" data-selected="Wiltshire">
                    <option value="">Select a County / State</option>
                </select>
            </div>

            <div class="field">
                <label for="ay-city">City / Town <abbr title="Required">*</abbr></label>
                <select id="ay-city" name="city" class="dd-city" disabled="disabled" data-selected="Devizes">
                    <option value="" selected="selected">Select a City / Town</option>
                </select>
            </div>

            <div class="field">
                <label for="ay-specialism">Specialism <abbr title="Required">*</abbr></label>
                <select id="ay-specialism" name="region">
                    <option value="" selected="selected">Select</option>
                    <option value="project manager">Project Manager</option>
                    <option value="developer">Developer</option>
                    <option value="account manager">Account Manager</option>
                    <option value="engineer">Engineer</option>
                </select>
            </div>

        </div>

    </div>
    
</fieldset>