<fieldset class="sign-up-details">

    <legend>Sign up details</legend>

    <div class="field-wrap">
        <div class="field">
            <button class="button icon linkedin" type="button" id="si-linked-in-register">
                <i class="icon-linkedin"></i>
                <span>Sign in with LinkedIn</span>
            </button>
        </div>
    </div>

    <div class="field-wrap field-col-wrap field-col-wrap-2col">

        <div class="form-col">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus sapien mi, eget posuere orci pharetra sit amet. Ut cursus urna orci, nec aliquam turpis lobortis in. Vestibulum vehicula nunc eget sapien ullamcorper ullamcorper. Fusce consectetur tempor cursus. Integer dapibus lectus vehicula libero scelerisque cursus quis quis augue. Phasellus vitae mi ut tellus venenatis bibendum et vitae orci.</p>

        </div>

        <div class="form-col">

            <div class="field">
                <label for="si-email">Email <abbr title="Required">*</abbr></label>
                <input type="email" id="si-email" required aria-required="true" min-length="2" name="si_email" placeholder="name@domain.com">
            </div>

            <div class="field">
                <label for="si-confirm-email">Confirm Email <abbr title="Required">*</abbr></label>
                <input type="email" id="si-confirm-email" required aria-required="true" min-length="2" name="si_firstname" placeholder="name@domain.com">
            </div>

            <div class="field">

                <div class="input-button show-hide-pwd">
                    <label for="si-password">Password <abbr title="Required">*</abbr></label>

                    <div class="input-button show-hide-pwd">
                        <input type="password" id="si-password" required="" aria-required="true" class="password" min-length="6" name="si_password" placeholder="">
                        <button class="button secondary btn-show-hide">
                            <span class="btn-show">Show</span>
                            <span class="btn-hide">Hide</span>
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</fieldset>