<fieldset class="newsletter-prefs">
    <legend>Stay connected</legend>

    <div class="newsletter-opt-in" for="np-newsletter-opt-in">
        <strong>Newsletter</strong>
        Lorem ipsum dolor npt amet, consectetur adipiscing elit. Phasellus porta, elit ac semper ultricies, dui nibh interdum eros, at luctus lacus nisl ac dui. Duis sollicitudin mattis erat, ut vehicula erat eleifend hendrerit.
        <label class="checkbox-label">
            <input id="np-newsletter-opt-in" name="np-newsletteroptin" type="checkbox">
            <span> Yes you may use the information in this form to send to me relavent communications</span>
        </label>
    </div>

    <div class="data-privacy">
        <strong>Your data privacy</strong>
        Lorem ipsum dolor npt amet, consectetur adipiscing elit. <a href="#">Phasellus porta</a>, elit ac semper ultricies, dui nibh interdum eros, at luctus lacus nisl ac dui. Duis sollicitudin mattis erat, ut vehicula erat <a href="#">eleifend hendrerit.</a>
    </div>

</fieldset>