<fieldset>

    <legend>Your job preferences</legend>

    <div class="field-wrap field-col-wrap field-col-wrap-2col field-col-first">

        <div class="form-col">

            <div class="field">
                <label for="jp-region">Country / Region <abbr title="Required">*</abbr></label>
                <select id="jp-region" name="region" class="dd-region">
                    <option value="">Select a County / Region</option>
                </select>
            </div>

            <div class="field">
                <label for="jp-county">County / State <abbr title="Required">*</abbr></label>
                <select id="jp-county" name="county" class="dd-county" disabled="disabled">
                    <option value="">Select a County / State</option>
                </select>
            </div>

            <div class="field">
                <label for="jp-city">City / Town <abbr title="Required">*</abbr></label>
                <select id="jp-city" name="city" class="dd-city" disabled="disabled">
                    <option value="" selected="selected">Select a City / Town</option>
                </select>
            </div>

        </div>

        <div class="form-col">

            <div class="field">
                <label for="jp-industry">Industry <abbr title="Required">*</abbr></label>
                <select id="jp-industry" name="region">
                    <option value="" selected="selected">Select</option>
                    <option value="construction">Construction</option>
                    <option value="it">IT</option>
                    <option value="legal">Legal</option>
                    <option value="telecommunications">Telecommunications</option>
                </select>
            </div>

            <div class="field">
                <label for="jp-experience">Experience <abbr title="Required">*</abbr></label>
                <select id="jp-experience" name="region">
                    <option value="" selected="selected">Number of years</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5+">5+</option>
                    <option value="10+">10+</option>
                </select>
            </div>

        </div>
        
    </div>

</fieldset>