<form action="#" method="post" id="job-preferences" class="form-inline form-2-col job-preferences form-validate" novalidate="novalidate">

    <h2>Your job preferences</h2>

    <div>

        <fieldset>

            <div class="field-wrap">

                <div class="field">
                    <label for="jp-region">Country / Region <abbr title="Required">*</abbr></label>
                    <select id="jp-region" name="region">
                        <option value="" selected="selected">Select</option>
                        <option value="eng">England</option>
                        <option value="nire">N.Ireland</option>
                        <option value="sco">Scotland</option>
                        <option value="wal">Wales</option>
                    </select>
                </div>

                <div class="field">
                    <label for="jp-region">County / State <abbr title="Required">*</abbr></label>
                    <select id="jp-region" name="region">
                        <option value="" selected="selected">Select</option>
                        <option value="berks">Berkshire</option>
                        <option value="hants">Hampshire</option>
                        <option value="wilt">Wiltshire</option>
                        <option value="corn">Cornwall</option>
                    </select>
                </div>

            </div>

            <div class="field-wrap">

                <div class="field single-col">
                    <label for="jp-city">City <abbr title="Required">*</abbr></label>
                    <select id="jp-city" name="city">
                        <option value="" selected="selected">Select</option>
                        <option value="london">London</option>
                        <option value="liverpool">Liverpool</option>
                        <option value="manchester">Manchester</option>
                        <option value="birmingham">Birmingham</option>
                    </select>
                </div>

            </div>

            <div class="field-wrap">

                <div class="field">
                    <label for="jp-industry">Industry <abbr title="Required">*</abbr></label>
                    <select id="jp-industry" name="region">
                        <option value="" selected="selected">Select</option>
                        <option value="construction">Construction</option>
                        <option value="it">IT</option>
                        <option value="legal">Legal</option>
                        <option value="telecommunications">Telecommunications</option>
                    </select>
                </div>

                <div class="field">
                    <label for="jp-experience">Experience <abbr title="Required">*</abbr></label>
                    <select id="jp-experience" name="region">
                        <option value="" selected="selected">Number of years</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5+">5+</option>
                        <option value="10+">10+</option>
                    </select>
                </div>

            </div>

        </fieldset>

        <div class="form-controls">
            <button type="submit">Submit</button>
        </div>

    </div>

</form>