<form action="#" method="post" id="form-upload-document" class="form-inline form-2-col form-upload-document form-validate" novalidate="novalidate">

    <h2>Upload document</h2>

    <div>

        <fieldset>

            <div class="field-wrap">

                <div class="field">
                    <label for="ud-document-title">Document title <abbr title="Required">*</abbr></label>
                    <input type="text" id="ud-document-title" required aria-required="true" min-length="2" name="ud_documenttitle" placeholder="Joe Bloggs CV">
                </div>

                <div class="field">
                    <p>Give your document a simple and meaningful title to enable you to identify it's purpose.</p>
                </div>

            </div>

            <div class="field-wrap">

                <div class="field">
                    <label for="ud-upload">Upload CV <abbr title="Required">*</abbr></label>
                    <input type="file" id="ud-upload" name="ud_upload" required aria-required="true" />
                </div>

                <div class="field">
                    <p>You can set and expiry date to alert you of when a visa or qualification uploaded document is needing to be renewed.</p>
                </div>

                <div class="field">
                    <label for="ud-expires">Expires </label>
                    <input type="date" id="ud-expires" name="ud_expires" aria-required="false" />
                </div>

            </div>

        </fieldset>

        <div class="form-controls">
            <button id="btn-upload-doc" type="submit">Submit</button>
        </div>

    </div>

</form>