<div class="form-inline job-application job-application-submitted">

    <header>
        <div class="page-title">
            <h1>Job Application</h1>
        </div>
        <h2><a href="#">Graduate UI / Frontend Developer (Javascript CSS HTML)</a></h2>

        <table class="meta-table">
            <tr>
                <th>Job Ref:</th>
                <td>896746312</td>
            </tr>
            <tr>
                <th>Sector:</th>
                <td>Marketing</td>
            </tr>
            <tr>
                <th>Date Added:</th>
                <td>28 October 2015</td>
            </tr>
        </table>

    </header>

      <p>Thank you for your application Joe Bloggs.</p>

      <p>You will hear from me "Named Consultant", within the next 24 hours. I will confirm the following next steps.</p>

      <ol class="no-bullet">
          <li><a href="#"><i class="icon-arrow-right"></i>Next step 1</a></li>
          <li><a href="#"><i class="icon-arrow-right"></i>Next step 2</a></li>
      </ol>

      <p>I look forward to catching up with you on this.</p>

      <p>"Named Consultant"</p>

     <footer class="job-application-submitted-links">
        <ul>
          <li><a href="#">Continue with your job search</a></li>
          <li><a href="#">Manage your saved jobs</a></li>
        </ul>
     </footer>

</div>
