<!-- Begin .pagination-section-->
<section class="l-section pagination-section">
    <div class="l-container">
        {{> molecules-pagination }}
    </div>
</section>
<!-- End .pagination-section -->