<!-- Begin .brand-positioning-section -->
<section class="l-section brand-positioning-section">
    <div class="l-container">

        {{> molecules-brand-positioning }}

    </div>
</section>
<!-- End .brand-positioning-section -->
