<h2>Site Colours</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #fff;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">White</small><br>#fff</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #000;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Black</small><br>#000</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #666;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Grey</small><br>#666</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f5f5f5;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Light Grey</small><br>#f5f5f5</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ff0000;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Red</small><br>#ff0000</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #00ff00;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Green</small><br>#00ff00</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #00ffff;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Turquoise</small><br>#00ffff</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ffff00;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Yellow</small><br>#ffff00</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ff00ff;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Fuscia</small><br>#ff00ff</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #FFA500;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Orange</small><br>#FFA500</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #FFD1D1;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Pale Red</small><br>#FFD1D1</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #FFD1D1;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Pale Yellow</small><br>#FFD1D1</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #DAFFDA;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Pale Green</small><br>#DAFFDA</span>
    </li>
</ul>
<h2>Brand Colours</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #322e2d;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Grey</small><br>#322e2d</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #595959;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">Light Grey</small><br>#595959</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #fff;"></span>
        <span class="sg-label"><small style="font-size:0.75rem;font-weight:bold;">White</small><br>#fff</span>
    </li>
</ul>
