//
// FIELDSET - ABOUT YOU
//
//
$fieldset-about-you-bp: tabletLrg;
$fieldset-about-you-padding: $spacing-sml $spacing-med 0 $spacing-med;
$fieldset-about-you-padding-dt: $spacing-med $spacing-lrg 0 $spacing-lrg;

.about-you, .general-enquiry {
  background: map_get($brandcolors, lightGrey);
  padding: $fieldset-about-you-padding !important;
  //border-top: 1px solid darken(map-get($brandcolors, lightGrey), 10%);
  //border-bottom: 1px solid darken(map-get($brandcolors, lightGrey), 10%);
  margin-left: -$spacing-med;
  margin-right: -$spacing-med;

  @include respond-to($fieldset-about-you-bp) {
    padding: $fieldset-about-you-padding-dt !important;
    margin-left: 0;
    margin-right: 0;
  }
}