//
// JOB APPLICATION FORM
//
//

//Job application before submit
.job-application {

  .l-container {
    @extend %container;
  }

  .page-title + h2 {
    margin-top: -0.5rem;
  }

  .ui-tabs-panel {
    @include clearfix;
  }
}

//Job application after submit
.job-application-submitted {
  @extend .form-inline;

  a {
    @extend .touch-spacing-v;
  }

  ol {
    list-style-type: none;
    margin-left: 0;
  }

  footer {
    a {
      display: block;

    }
  }
}