//
//	JOB SEARCH
//
//  
//

$job-search-bp: desktopSml;

$job-search-bg: map_get($brandcolors, green);
$job-search-bg-dt: map_get($brandcolors, green);
$job-search-color: map-get($colors, white);
$job-search-padding: $spacing-med;
$job-search-heading-margin: 0 0 $spacing-sml;
$job-search-heading-font-family: $primary-font;

$job-search-chk-legend-margin: 0 0 $spacing-sml;
$job-search-chk-legend-weight: $font-weight-normal;
$job-search-chk-list-max-width: rem(150);
$job-search-chk-list-item-padding: 0 0 $spacing-sml;

$job-search-adv-transition: all 0.4s linear;
$job-search-adv-show-hide-padding: 0 0 $spacing-med;
$job-search-adv-padding: $spacing-med 0 0;
$job-search-adv-show-hide-link-padding: $spacing-sml 0;
$job-search-adv-show-hide-dt-padding: $spacing-med 0 0;
$job-search-adv-show-hide-icon-size: $font-size-sml;

$job-search-slider-width: 65%;
$job-search-slider-display-width: 32%;
$job-search-slider-display-border: none;
$job-search-slider-display-padding: $spacing-sml 0;
$job-search-slider-display-vert-adj: -0.1rem;

$job-search-controls-padding: $spacing-med 0 0;
$job-search-button-margin: 0 0 $spacing-med;

.col-main {
  .form-wrap {

    @include respond-to($job-search-bp) {
      .job-search {
        width:100%;
        margin-bottom: $spacing-lrg;
      }
    }
  }
}

.job-search {
  @extend %container;
  background: $job-search-bg;
  color: $job-search-color;
  margin: 0.5rem auto $spacing-sml;
  padding: $job-search-padding;

  h2 {
    @extend %h4;
    margin: $job-search-heading-margin;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  > fieldset {
    > legend {
      //  hide legends except for the job type fieldset
      @extend %visuallyhidden;
    }
    fieldset {
      legend {
        padding: 0;
        margin: $job-search-chk-legend-margin;
        font-weight: $job-search-chk-legend-weight;
        font-size: 1rem;
        font-family: $primary-font;
        background: none;
      }
    }
  }

  label {
    color: $job-search-color;
    small {
      color: $job-search-color;
    }
  }

  .show-hide-adv a {
    color: $job-search-color;
  }

  .job-type-chks {
    .chk-wrap {
      @include row;
      ul {
        @include cols(1, 2);
        max-width: $job-search-chk-list-max-width;
        margin: 0;
        li {
          padding: $job-search-chk-list-item-padding;
        }
      }
    }
  }

  .field-salary {
    .input-sml {
      width:23.5%;
      min-width: 52px
    }

    label, input, select {
      vertical-align: bottom;
    }

    select {
      display: inline-block;
      width: 27.5%;
      min-width: 60px;
      position:relative;
    }
    label[for=salary-per],
    label[for=max-salary] {
      vertical-align: middle;
      margin-bottom: rem(8);
      text-align:center;
      font-size:0.9rem;
    }
    label[for=salary-per] {
      width: 9.5%;
    }
    label[for=max-salary] {
      width: 6%;
    }
  }

  .show-hide-adv {
    padding: $job-search-adv-show-hide-padding;
    a {
      padding: $job-search-adv-show-hide-link-padding;
      i {
        font-size: $job-search-adv-show-hide-icon-size;
      }
    }
  }

  .adv-job-search {
    @include transition(max-height 0.4s ease-in-out);
    overflow: hidden;
    max-height: 0;
    height: auto;

    .show-hide-adv {
      padding: 0;
    }
  }

  .show-adv {
    display: inline-block;
  }
  .hide-adv {
    display: none;
  }

  &.job-search-vertical {
    margin-top: 0;
    background: map-get($brandcolors, green);
    @include transition(all 0.25s linear);
    max-height: 1500px;
    width: 100%;
    max-width: auto;
    .is-hidden & {
      padding-top:0;
      padding-bottom:0;
      overflow: hidden;
      max-height: 0;
      height: auto;
    }
    .collapsible {
      margin-bottom: 0;
    }
  }

  &.is-adv-active {

    .show-hide-adv {
      padding: $job-search-adv-show-hide-padding;
    }
    .hide-adv {
      display: inline-block;
    }
    .show-adv {
      display: none;
    }
    .adv-job-search {
      max-height: 1200px;
    }

  }

  input[type=range] {
    display: inline-block;
    width: $job-search-slider-width;
  }

  .range-display {
    display: inline-block;
    width: $job-search-slider-display-width;
    text-align: center;
    border: $job-search-slider-display-border;
    padding: $job-search-slider-display-padding;
    position: relative;
    top: $job-search-slider-display-vert-adj;
    float: right;
    white-space: nowrap;
  }

  .form-controls {
    @include clearfix;
    button:last-of-type {
      @extend .secondary;
      margin-bottom: 0;
    }
  }

  &.job-search-inline {

    button {
      float: right;
      margin-bottom: $job-search-button-margin;
    }

    .show-hide-adv {
      text-align: right;
    }

  }

  &.job-search-vertical {
    #btn-search {
      float: right;
    }
    #job-search-header {
      padding-top: $spacing-med
    }
  }

  .my-searches.saved-searches {
    display: none;
    &.has-saved-searches {
      display: block;
    }
  }

  .my-searches {
    background: map-get($brandcolors, darkGreen);
    margin-top: 0;
    margin-left: -($spacing-med);
    margin-right: -($spacing-med);
    margin-bottom: 0;
    padding: $spacing-med;
    border-bottom: 1px solid map-get($brandcolors, lightGreen);
    &:first-of-type {
      margin-top: -($spacing-med);
    }
    h2 {
      color: map-get($brandcolors, white);
      &:before {
        left: -(rem(3));
      }
    }
  }

  @include respond-to(tabletLrg) {
    width: 95%;
    background: $job-search-bg-dt;
    //margin: 0 auto;

    &.job-search-inline {

      .quick-job-search {
        @include row;

        .field {
          @include cols(1, 3);
          padding-right: $spacing-med;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      .adv-job-search {
        @include row;

        .field-wrap {
          @include cols(1, 3);
          padding: $spacing-med $spacing-med 0 0;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      .show-hide-adv {
        float: left;
        padding: $job-search-adv-show-hide-dt-padding;

        a {
          padding: 0;
        }
      }

    }

    .form-controls {
      padding: $job-search-controls-padding;
    }

  }

  &.is-adv-active {
    .form-controls {
      padding-top:0;
    }
    .adv-job-search {
      max-height: 1250px;
    }
  }

  &.job-search-vertical {
    margin-bottom: $spacing-lrg;
    .quick-job-search {
      .field:last-child {
        padding-bottom: 0;
      }
    }
    .adv-job-search {
      .field-wrap:first-of-type {
        padding-top: $spacing-med;
      }
      .field-wrap:last-child {
        padding-bottom: 0;
      }
    }
  }

  .my-searches {
    .collapsible-content {
      button {
        margin-left: $spacing-med;
        margin-bottom: $spacing-med;
      }
    }
    ul {
      margin: 0 0 $spacing-med;
    }
    li {
      a {
        @include transition(background 0.25s linear);
        display: block;
        padding: rem(6) $spacing-sml rem(6) 1.25rem;
        color: map-get($brandcolors, white);
        &:hover, &:focus {
          background: map-get($brandcolors, green);
        }
      }
    }
    button {
      i {
        position:relative;
        font-size: 0.9rem;
        left: rem(6);
        top: -(rem(2));
      }
    }
  }
  @include respond-to(tabletLrg) {
    width:95%;
  }

  @include respond-to(desktopLrg) {
    width:81%;
    max-width: 68rem;

    &.job-search-vertical {
      max-height: 2500px;
    }
  }
}

// This is where job search is placed inside the main column
.col-main {
  .form-wrap {
    .job-search {
      .job-type-chks {
        .chk-wrap {
          ul {
            float: none;
            width: auto;
          }
        }
      }
      .field-salary {
        .input-sml {
          width:43.5%;
          min-width: 52px;
          margin-bottom: $spacing-sml;
        }
        label[for=salary-per] {
          width: 15%;
        }
        label[for=max-salary] {
          width: 8%;
        }
        select {
          width:82%;
        }
      }
    }
  }
}
