//
//	NEWSLETTER SIGNUP
//
//
//

.form-newsletter {
	background: map-get($brandcolors, lightGrey);
	padding-top: $spacing-sml;
}

.col-main {
	.form-newsletter {
		padding: $spacing-med $spacing-med 0;
	}	
}


