<span class="icon-home"></span>
<span class="icon-location"></span>
<span class="icon-user"></span>
<span class="icon-spinner"></span>
<span class="icon-cog"></span>
<span class="icon-meter"></span>
<span class="icon-menu"></span>
<span class="icon-notification"></span>
<span class="icon-question"></span>
<span class="icon-cancel-circle"></span>
<span class="icon-close"></span>
<span class="icon-checkmark"></span>
<span class="icon-circle-right"></span>
<span class="icon-circle-left"></span>
<span class="icon-checkbox-checked"></span>
<span class="icon-checkbox-unchecked"></span>
<span class="icon-radio-checked"></span>
<span class="icon-radio-unchecked"></span>
<span class="icon-share"></span>
<span class="icon-mail"></span>
<span class="icon-googleplus"></span>
<span class="icon-facebook"></span>
<span class="icon-twitter"></span>
<span class="icon-feed3"></span>
<span class="icon-youtube"></span>
<span class="icon-youtube2"></span>
<span class="icon-youtube3"></span>
<span class="icon-linkedin"></span>
<span class="icon-file-pdf"></span>