<div class="page" id="page">

  {{> organisms-header }}

  <main id="content" role="main" class="main">

    <div class="l-container">

        {{> organisms-hero-section }}

        {{> organisms-brand-positioning-section }}

        {{> organisms-promo-section-3up }}

        <!--{{> molecules-latest-tweet }}-->

        {{> organisms-specialism-section }}

        {{> organisms-employee-nav-section }}

        {{> organisms-latest-news-section }}

    </div>


  </main>

  {{> organisms-footer }}

</div>
