<div class="page is-logged-in" id="page">

    {{> organisms-header-logged-in }}

    <main id="content" role="main" class="main">

        {{> organisms-breadcrumb-section }}

        <div class="l-container">

            <header class="page-title l-section">
                <h1>Specialism</h1>
            </header>

            {{> organisms-promo-section-3up-strict }}
            {{> organisms-promo-section-3up-strict }}
            {{> organisms-promo-section-3up-strict }}
            {{> organisms-latest-news-section }}

        </div>

    </main>

    {{> organisms-footer }}

</div>
