<div class="page is-logged-in" id="page">

    {{> organisms-header-logged-in }}

    <main id="content" role="main" class="main">

        {{> organisms-breadcrumb-section }}

        <div class="l-container">

            <header class="page-title l-section">
                <h1>Sign in</h1>
            </header>

            <section class="col-wrap sign-in-wrap">
                <div class="col-equal col">

                    <div class="col-inner col-equal-inner">

                        {{> molecules-login }}

                    </div>

                </div>

                <div class="col-equal col">

                    <div class="col-inner col-equal-inner">

                        {{> molecules-register }}

                    </div>

                </div>

            </section>

        </div>

    </main>

    {{> organisms-footer }}

</div>
