<div class="page" id="page">

  {{> organisms-header }}

  <main id="content" role="main" class="main">

    {{> organisms-breadcrumb-section }}

    <div class="l-container">

      {{> molecules-page-title }}

      <article>
        {{> molecules-generic-content-small }}
      </article>

      {{> organisms-general-enquiry-form }}

      {{> organisms-promo-map-section-2up }}

    </div>

  </main>

  {{> organisms-footer }}

</div>
