<div class="page is-logged-in" id="page">

    {{> organisms-header-logged-in }}

    <main id="content" role="main" class="main">

        {{> organisms-breadcrumb-section }}

        <div class="l-container">

            {{> molecules-page-title }}

            <article>
                {{> molecules-sitemap-list }}
            </article>

        </div>

    </main>

    {{> organisms-footer }}

</div>
