//
//	META TABLE
//
//  
//


.meta-table {
	@extend .table-no-styles;
	margin-top: $spacing-med;
	th, tr {
		vertical-align: top;
	}
	th, td {
		padding: rem(3);
	}
	th {
		padding-left: 0;
		padding-right: rem(12);
		font-weight: $font-weight-normal;
	}

}