<!-- Begin .hero-section -->
<section class="l-section hero-section">
    <div class="l-container">

        <div class="hero-image">{{> atoms-homepage-hero }}</div>

    </div>
</section>
<!-- End .hero-section -->
