<!-- Begin .hero-section -->
<section class="l-section hero-section hero-section-brand">
	<div class="hero-image"><img src="../../assets/images/brandpos-hero.jpg" alt=""></div>
  <div class="l-container">
    {{> molecules-brand-positioning }}
  </div>
</section>
<!-- End .hero-section -->
