.h-no-list-styles {
  margin: 0;
  padding: 0;
}
.h-no-list-styles li {
  list-style-type: none;
}

.hide, .show-ie9-only {
  display: none;
}

.lt-ie10 .show-ie9-only {
  display: inline-block;
}

@media (max-width: 40em) {
  .touch-spacing-v {
    display: block;
    padding: 1rem 0;
  }

  .touch-spacing-h {
    padding: 0 1rem;
  }
}
/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
/* Style Guide Interface Colors */
/* Typography */
/* Defaults */
/* Dimensions */
/* Breakpoints */
.secondary-font {
  font-family: "FF DIN Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.tertiary-font {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.demo {
  overflow: hidden;
  margin-bottom: 1rem;
}

.demo .gi, .demo .demo-block {
  background: #ddd;
  color: #808080;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em 0 !important;
}
.demo .gi:nth-of-type(2n), .demo .demo-block:nth-of-type(2n) {
  color: #ddd;
  background: #808080;
}
.demo .gi .gi, .demo .demo-block .gi {
  background: rgba(0, 0, 0, 0.1);
  color: #ddd;
}
.demo .gi .gi:nth-of-type(2n), .demo .demo-block .gi:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.3);
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.animate-move {
  position: relative;
}
.animate-move .demo-shape {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background: #808080;
}
.animate-move:hover > .demo-shape {
  left: 100%;
  margin-left: -20px;
}

.sg-colors {
  overflow: hidden;
}
.sg-colors li {
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 0.3em;
  margin: 0 0.2em 0.2em 0;
}
@media all and (min-width: 30em) {
  .sg-colors li {
    float: left;
    width: 5em;
  }
}

.sg-swatch {
  display: block;
  height: 1.5em;
  width: 50%;
}
@media all and (max-width: 30em) {
  .sg-swatch {
    float: left;
    margin-right: 0.3em;
  }
}
@media all and (min-width: 30em) {
  .sg-swatch {
    width: 100%;
    height: 4em;
    margin-bottom: 0.2em;
  }
}

.sg-label {
  line-height: 1;
}

.l-row, .l-1of1 {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.l-row::after, .l-1of1::after {
  clear: both;
  content: "";
  display: table;
}

.l-1of2 {
  width: 50%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of3 {
  width: 33.33333333%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of4 {
  width: 25%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of5 {
  width: 20%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of6 {
  width: 16.66666667%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of7 {
  width: 14.28571429%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of8 {
  width: 12.5%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of9 {
  width: 11.11111111%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of10 {
  width: 10%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of11 {
  width: 9.09090909%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.l-1of12 {
  width: 8.33333333%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.responsive-grid .gi {
  width: 100%;
  float: left;
  padding: 0;
  margin-right: 0%;
}
@media (min-width: 30em) {
  .responsive-grid .gi {
    width: 50%;
    float: left;
    padding: 0;
    margin-right: 0%;
  }
}
@media (min-width: 40em) {
  .responsive-grid .gi {
    width: 33.33333333%;
    float: left;
    padding: 0;
    margin-right: 0%;
  }
}
@media (min-width: 60em) {
  .responsive-grid .gi {
    width: 16.66666667%;
    float: left;
    padding: 0;
    margin-right: 0%;
  }
}
@media (min-width: 70em) {
  .responsive-grid .gi {
    width: 8.33333333%;
    float: left;
    padding: 0;
    margin-right: 0%;
  }
}

.nested-grid .gi-content .l-row-inner, .nested-grid .gi-sidebar .l-row-inner {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.nested-grid .gi-content .l-row-inner::after, .nested-grid .gi-sidebar .l-row-inner::after {
  clear: both;
  content: "";
  display: table;
}
.nested-grid .gi-content {
  width: 66.66666667%;
  float: left;
  padding: 0;
  margin-right: 0%;
}
.nested-grid .gi-content .gi {
  width: 33.33333333%;
  float: left;
  padding: 0;
  margin-right: 0%;
}
.nested-grid .gi-sidebar {
  width: 33.33333333%;
  float: left;
  padding: 1rem;
  margin-right: 0%;
}
.nested-grid .gi-sidebar .gi {
  width: 50%;
  float: left;
  padding: 0;
  margin-right: 0%;
}

.page #open-login-register {
  display: none;
}

/*# sourceMappingURL=styleguide-specific.css.map */
