<article class="job-list-item list-item job-list-related" data-job-id="343434">

    <div class="list-item-details">

        <header>

            <h3><a href="#">Graduate UI / Frontend Developer (JavaScript CSS HTML)</a></h3>

            <p class="meta">5 days left</p>

        </header>

        <div class="list-item-summary">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <ul class="meta-list">
            <li><span class="icon-location" aria-hidden="true"></span> North London (N1)</li>
            <li><span class="icon-gbp" aria-hidden="true"></span> 60k to 75k + bonus + benefits</li>
        </ul>

    </div>

</article>