<article class="job-list-item list-item" data-job-id="1234">

    <div class="list-item-details">

        <header>

            <h3><a href="#">Software Engineer: Go | Node.js | JavaScript</a></h3>

            <p class="meta">8 days left</p>

        </header>

        <div class="list-item-summary">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <ul class="meta-list">
            <li><span class="icon-location" aria-hidden="true"></span> North London (N1)</li>
            <li><span class="icon-gbp" aria-hidden="true"></span> 60k to 75k + bonus + benefits</li>
        </ul>

        <a href="#" class="save-job" data-alt-text="Forget this job">
            <span class="icon-star-empty" aria-hidden="true"></span>
            <span class="icon-star-full" aria-hidden="true"></span>
            <span class="text">Save this job</span>
        </a>

    </div>

</article>