<article class="job-list-item list-item job-list-item-dashboard" data-job-id="343434">

    <div class="list-item-details has-logo">

        <header>

            <h3><a href="#">Graduate UI / Frontend Developer (JavaScript CSS HTML)</a></h3>

            <p class="meta">5 days left</p>

        </header>

        <div class="list-item-summary">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <div class="list-item-logo-wrap">
                <img src="../../assets/images/fpo_square.png" class="list-item-logo" alt="Logo">
            </div>
        </div>

        <ul class="meta-list">
            <li><span class="icon-location" aria-hidden="true"></span> North London (N1)</li>
            <li><span class="icon-gbp" aria-hidden="true"></span> 60k to 75k + bonus + benefits</li>
        </ul>

        <a href="#" class="save-job is-saved" data-alt-text="Save this job">
            <span class="icon-star-empty" aria-hidden="true"></span>
            <span class="icon-star-full" aria-hidden="true"></span>
            <span class="text">Forget this job</span>
        </a>

    </div>

</article>