<header class="page-title l-section job-list-item">

	<h1>Graduate UI / Frontend Developer (JavaScript CSS HTML)</h1>
        
  <a href="#" class="save-job is-saved" data-alt-text="Save this job">
      <span class="icon-star-empty" aria-hidden="true"></span>
      <span class="icon-star-full" aria-hidden="true"></span>
      <span class="text">Forget this job</span>
  </a>

</header>