<article class="job-list-item list-item" data-job-id="343434">

    <div class="list-item-details has-logo">

        <header>

            <h3><a href="#">Graduate UI / Frontend Developer (JavaScript CSS HTML)</a></h3>

            <time class="meta">5 days left</time>

        </header>

        <div class="list-item-summary">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>

            <div class="list-item-logo-wrap">
                <img src="../../assets/images/fpo_square.png" class="list-item-logo" alt="Logo">
            </div>
        </div>

        <ul class="meta-list">
            <li><span class="icon-location" aria-hidden="true"></span> North London (N1)</li>
            <li><span class="icon-gbp" aria-hidden="true"></span> 60k to 75k + bonus + benefits</li>
        </ul>

    </div>

</article>