<div class="l-section">
    <h2>Generic WYSIWYG content</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac massa vel nisi luctus malesuada. Aliquam quis neque non urna molestie congue. Cras nec sodales odio.</p>

    <p>Duis quis vestibulum metus. Nulla faucibus gravida risus eu lobortis. Nulla eu ligula hendrerit, laoreet dui id, vulputate metus. Proin condimentum sit amet lectus ut eleifend. Sed pharetra pretium eros, at dignissim felis faucibus accumsan. Etiam et laoreet sapien. Aenean fringilla libero non vulputate tempus.</p>

    <blockquote>
        <p>Lorem ipsum nam ac massa!</p>
        <cite>Joe Bloggs</cite>
    </blockquote>

    <h3>Heading</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac massa vel nisi luctus malesuada. Aliquam quis neque non urna molestie congue. Cras nec sodales odio. Duis quis vestibulum metus. Nulla faucibus gravida risus eu lobortis. Nulla eu ligula hendrerit, laoreet dui id, vulputate metus. Proin condimentum sit amet lectus ut eleifend. Sed pharetra pretium eros, at dignissim felis faucibus accumsan. Etiam et laoreet sapien. Aenean fringilla libero non vulputate tempus.</p>

    <ul>
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Sit</li>
        <li>Amet</li>
    </ul>

    <h3>Heading</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac massa vel nisi luctus malesuada. Aliquam quis neque non urna molestie congue. Cras nec sodales odio. Duis quis vestibulum metus. Nulla faucibus gravida risus eu lobortis. Nulla eu ligula hendrerit, laoreet dui id, vulputate metus. Proin condimentum sit amet lectus ut eleifend. Sed pharetra pretium eros, at dignissim felis faucibus accumsan. Etiam et laoreet sapien. Aenean fringilla libero non vulputate tempus.</p>
</div>