<div class="services-overview">

    <h2>Services overview</h2>

    <article class="content-2col">

        <div class="content-2col-left">

            <p>
                Praesent non augue pretium, lobortis augue eu, mattis ex. Donec viverra vitae ligula sit amet rutrum. Curabitur maximus imperdiet dolor a pellentesque.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan suscipit varius. Pellentesque consequat sed dui at vulputate.
            </p>

        </div>

        <div class="content-2col-right">

            <ul>
                <li>Lorem ipsum dolor</li>
                <li>Consectetur adipiscing elit</li>
                <li>Pellentesque consequat sed dui at vulputate</li>
                <li>Proin nisi mauris</li>
                <li>Curabitur maximus imperdiet</li>
            </ul>

        </div>

    </article>
</div>