<!-- Begin .documents-list-section -->
<section class="my-documents-section candidate-dashboard-section">

    <header class="candidate-dashboard-section-heading">
        <h2>My documents</h2>
    </header>

    <div class="collapsible">

        
        <div>
            {{> molecules-upload-document-cta }}
        </div>

        <div class="collapsible-content">
            {{> molecules-upload-document }}
        </div>

    </div>

    <ol class="documents-list">
        <li>{{> molecules-document-list-item }}</li>
        <li>{{> molecules-document-list-item-no-meta }}</li>
        <li>{{> molecules-document-list-item-no-meta }}</li>
        <li>{{> molecules-document-list-item-no-meta }}</li>
        <li>{{> molecules-document-list-item-no-meta }}</li>
    </ol>

</section>
<!-- End .documents-list-section -->
