<section class="featured-jobs-section has-title candidate-dashboard-section">
    <header class="candidate-dashboard-section-heading">
        <h2>Featured Jobs</h2>
    </header>

    <ol class="job-list">
        <li>{{> molecules-job-list-item-featured }}</li>
    </ol>
</section>