<section class="latest-job-applications-section candidate-dashboard-section">
    <header class="candidate-dashboard-section-heading">
        <h2>Latest job applications</h2>
    </header>
    <ol class="job-list">
        <li>{{> molecules-job-list-item-dashboard }}</li>
        <li>{{> molecules-job-list-item-dashboard }}</li>
    </ol>
</section>