<section class="latest-saved-jobs-section candidate-dashboard-section">
    <header class="candidate-dashboard-section-heading">
        <h2>Latest saved jobs</h2>
    </header>
    <ol class="job-list">
        <li>{{> molecules-job-list-item-dashboard }}</li>
        <li>{{> molecules-job-list-item-dashboard }}</li>
        <li>{{> organisms-job-list-item-w-alert-ok }}</li>
        <li>{{> molecules-job-list-item-dashboard-expired }}</li>
    </ol>
</section>