<section class="saved-searches-and-alerts-section candidate-dashboard-section">

    <header class="candidate-dashboard-section-heading">
        <h2>Saved searches and alerts</h2>
    </header>

    <div class="alert-box alert-box-job alert-box-ok">
        <p><i class="icon-bell" aria-hidden="true"></i>New jobs available.</p>
        <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </div>

    <ol class="search-list">
        <li>{{> molecules-search-item-saved }}</li>
        <li>{{> molecules-search-item-saved }}</li>
        <li>{{> molecules-search-item-saved }}</li>
        <li>{{> molecules-search-item-saved }}</li>
    </ol>

</section>