<section class="recent-searches-section candidate-dashboard-section">

    <header class="candidate-dashboard-section-heading">
        <h2>Recent searches</h2>
    </header>

    <ol class="search-list">
        <li>{{> molecules-search-item }}</li>
        <li>{{> molecules-search-item }}</li>
    </ol>

    <div class="cta-section">
        <button id="btn-clear-searches" class="button">Clear recent searches <i class="icon-close"></i></button>
    </div>

</section>