<section class="my-notifications candidate-dashboard-section">
    <header class="candidate-dashboard-section-heading">
        <h2>My Notifications</h2>
    </header>

    {{> molecules-alert-box-summary}}
    {{> molecules-alert-box-summary-alt}}

    <div class="cta-section">
        <button id="btn-clear-notifications" class="icon secondary">Clear notifications <i class="icon-close"></i></button>
    </div>
</section>