<section class="my-dashboard candidate-dashboard-section">
    <header class="candidate-dashboard-section-heading">
        <h2>My Dashboard</h2>
    </header>

    {{> molecules-my-profile-incomplete }}
    {{> molecules-my-shortlisted-jobs }}
    {{> molecules-my-searches-and-alerts }}
    {{> molecules-my-saved-documents-empty }}
</section>