<button>Primary button</button><br>
<a href="#" class="button">Primary button</a><br>

<button class="secondary">Secondary button</button><br>
<a href="#" class="button secondary">Secondary button</a><br>


<div style="background:#42b5a6; padding:20px;">
	<button class="secondary">Primary button</button><br>
	<button class="tertiary">Secondary button</button><br>
</div>

<div style="background:#3f9486; padding:20px; margin-bottom:20px;">
	<button>Tertiary button</button><br>
</div>


<a href="#" class="button secondary icon">
	<i class="icon-arrow-left"></i>
	<span>Icon on the left</span>
</a>

<a href="#" class="button icon">
	<span>Icon on the right</span>
	<i class="icon-arrow-right"></i>
</a><br>

<button class="icon linkedin" id="si-linked-in-register">
    <i class="icon-linkedin"></i>
    <span>Sign in with LinkedIn</span>
</button>

<!--
<a href="#" class="button">Button</a><br>
<a href="#" class="button secondary">Secondary Button</a><br>
<a href="#" class="button disabled">Disabled Button</a><br>
<a href="#" class="button secondary disabled">Secondary Button</a><br>
<button>Button element</button><br>
<a href="#" class="button tiny">Tiny Button</a><br>
<a href="#" class="button small">Small Button</a><br>
<a href="#" class="button">Medium Button</a><br>
<a href="#" class="button large">Large Button</a><br>
<a href="#" class="button radius">Radius Button</a><br>
<a href="#" class="button round">Rounded Button</a><br>
<a href="#" class="button block">Block Button</a><br>
<button class="button icon" type="button"><i class="icon-linkedin"></i><span>Register with LinkedIn</span></button>
<button class="button icon" type="button"><i class="icon-facebook"></i><span>Register with Facebook</span></button>
-->