
<!-- Begin .header -->
{{> molecules-skip-to-content }}
<header class="header" role="banner">
    <div class="l-container">
        {{> atoms-logo }}
        {{> molecules-user-status-logged-out }}
    </div>
    {{> molecules-primary-nav }}
</header>
<!-- End .header -->
