<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
    <div class="footer-intro">
    		<div class="l-container">
          {{> molecules-social-nav }}
          {{> molecules-site-search }}
        </div>
    </div>
    {{> molecules-footer-nav }}

</footer>
<!-- End Footer -->
