<ul class="meta-list">
    <li><span class="icon-location" aria-hidden="true"></span> North London (N1)</li>
    <li><span class="icon-gbp" aria-hidden="true"></span> 60k to 75k + bonus + benefits</li>
    <li><span class="icon-user" aria-hidden="true"></span> Joe Bloggs</li>
    <li><span class="icon-phone" aria-hidden="true"></span> 01234567980</li>
</ul>