<ul class="meta-list">
    <li><span class="icon-location" aria-hidden="true"></span> Within 20 from SN10 Devizes</li>
    <li><span class="icon-gbp" aria-hidden="true"></span> 60k to 75k + bonus + benefits</li>
</ul>