<ul class="meta-list">
    <li class=" is-disabled"><span class="icon-location" aria-hidden="true"></span> Location</li>
    <li class="is-disabled"><span class="icon-gbp" aria-hidden="true"></span> Salary</li>
</ul>