<ul class="meta-list">
    <li><span class="icon-office" aria-hidden="true"></span> <a href="#">Office</a></li>
    <li><span class="icon-mail-empty" aria-hidden="true"></span> <a href="mailto:joe.bloggs@example.com" class="consultant-email">joe.bloggs@example.com</a></li>
    <li><span class="icon-phone" aria-hidden="true"></span> <a href="tel:0123456789" class="consultant-tel">01234 56789</a></li>
    <li><span class="icon-linkedin" aria-hidden="true"></span> <a href="#">LinkedIn</a></li>
</ul>