<article class="document-list-item no-meta list-item">

    <div class="list-item-details">

        <header>
            <h3><a href="#">My CV (Bus Driver)</a></h3>
        </header>

        <ul class="meta-list">
            <li>MS Word</li>
            <li>12/12/12</li>
            <li><a href="#" class="btn-delete-doc button">Delete</a></li>
        </ul>

    </div>

</article>