<header class="job-title">

    <div class="job-title-inner">
        
        <h1>Graduate UI / Frontend Developer (JavaScript CSS HTML)</h1>
        
        <a href="#" class="save-job is-saved" data-alt-text="Save this job">
            <span class="icon-star-o" aria-hidden="true"></span>
            <span class="icon-star" aria-hidden="true"></span>
            <span class="text">Forget this job</span>
        </a>
        
    </div>

</header>