<div class="my-profile dashboard-block list-item my-profile-complete">

    <div class="list-item-details">

        <h3>My Profile</h3>

        <div class="list-item-details-inner">

            <div class="profile-completion">
                <div class="profile-completion-graphic">
                    <span>100%</span>
                </div>
            </div>

            <div class="profile-to-do">
                <p><a href="#">Connect to LinkedIn</a> to keep your details up to date.</p>
            </div>

        </div>

    </div>

</div>