<div class="searches-and-alerts list-item dashboard-block">
    <div class="list-item-details">
        <h3>My searches and alerts</h3>
        <a class="dashboard-block-view" href="#">[view]</a>
        <p>You have <strong>3 saved searches</strong> and <strong>2 recent searches</strong></p>
        <p>Set up a job alert for us to immediately notify you of jobs you are interested in.</p>
    </div>
</div>