<div class="shortlisted-jobs list-item dashboard-block">
    <div class="list-item-details">
        <h3>My Jobs</h3>
        <a class="dashboard-block-view" href="#">[view]</a>
        <p>You have <strong>3 jobs currently shortlisted</strong></p>
    </div>
</div>