<div class="saved-documents list-item dashboard-block">
    <div class="list-item-details">
        <h3>My documents</h3>
        <a class="dashboard-block-view" href="#">[view]</a>
        <p>You don't have any documents saved.</p>
        <p>Upload your CV and covering letter to save time in applying for your favourite jobs.</p>
    </div>
</div>