<ol class="breadcrumbs">
    <li><a href="#">Home</a><i class="icon-breadcrumb"></i></li>
    <li><a href="#">Parent</a><i class="icon-breadcrumb"></i></li>
    <li><a href="#">Child</a><i class="icon-breadcrumb"></i></li>
    <li><a href="#">Grandchild</a><i class="icon-breadcrumb"></i></li>
    <li>Great-Grandchild</li>
</ol>