<div class="pagination-wrap">

    <div clas="pagination-container">
        <ul class="pagination">
            <li class="PagedList-skipToPrevious">
                <a href="#" aria-label="Previous" rel="prev">
                    <i class="icon-pagination-left"></i>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="PagedList-skipToNext">
                <a href="#" aria-label="Next" rel="next">
                    <i class="icon-pagination-right"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="pagination-results-pp-wrap">
        <form class="pagination-results-pp">
            <label for="results-pp">Results per page</label>
            <select id="results-pp">
                <option>5</option>
                <option>15</option>
                <option>25</option>
                <option>50</option>
            </select>
        </form>
    </div>

</div>
