<div class="user-status is-logged-out">
    <a href="#">
        <div class="user-status-inner">
            <span class="icon-user-boxed" aria-hidden="true"></span>
            <span class="user-status-text">Sign in / Register</span>
        </div>
    </a>
</div>

<div class="user-status is-logged-in">
  <a href="#">
    <div class="user-status-inner">
    	<span class="icon-user-boxed" aria-hidden="true"></span>
			<span class="user-status-avatar">
				<img src="" id="user-profile-pic" alt="">
			</span>
      <span class="user-status-text"><u>Welcome,</u><br><span id="user-status-text">Account dashboard</span></span>
      <i class="icon-bell notification"></i>
    </div>
  </a>
</div>