<div class="user-status is-logged-in has-notifications has-profile-pic">
  <a href="#">
    <div class="user-status-inner">
    	<span class="icon-user-boxed" aria-hidden="true"></span>
			<span class="user-status-avatar">
				<img src="../../assets/images/sample/user-avatar-sample.jpg" alt="Geoffrey Plantagenet">
			</span>
      <span class="user-status-text"><u>Welcome,</u><br><span id="user-status-text">Geoffrey Plantagenet</span></span>
      <i class="icon-bell notification"></i>
    </div>
  </a>
</div>