<nav class="key-ctas">
    <ul>
        <li>
            <a href="#" class="eq1">
                <div class="key-cta-img">
                    <img src="../../assets/images/key-cta-image1.png" alt="">
                </div>
                <div class="key-cta-body">
                    <h2>Key feature #1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="eq1">
                <div class="key-cta-img">
                    <img src="../../assets/images/key-cta-image2.png" alt="">
                </div>
                <div class="key-cta-body">
                    <h2>Key feature #2</h2>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="eq1">
                <div class="key-cta-img">
                    <img src="../../assets/images/key-cta-image3.png" alt="">
                </div>
                <div class="key-cta-body">
                    <h2>Key feature #3</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas</p>
                </div>
            </a>
        </li>
    </ul>
</nav>