<ul class="nav-specialism">
    {{#sectors }}
    <li class="nav-specialism-list-item">
        <a href="#{{sector-value}}" class="nav-specialism-item">
            <span class="nav-specialism-text">{{ sector-title }}</span>
        </a>
    </li>
    {{/sectors }}
</ul>