<ul class="nav-employees">

  {{#employees}}
    <li class="nav-employee">
      <a href="#">
        <img src="{{imgUrl}}" alt="{{name}}"/>
        <span class="employee-name">{{name}}</span>
      </a>
    </li>
  {{/employees}}

</ul>