<ul class="tab-controls tabs-3">
	<li>
		<a href="#" class="button small block">Tab number 1</a>
	</li>
	<li class="is-active">
		<a href="#" class="button small block">The second tab</a>
	</li>
	<li>
		<a href="#" class="button small block">Number 3 tab</a>
	</li>
</ul>