<!-- Begin .latest-news-section -->
<section class="l-section latest-news-section">
    <div class="l-container">

        <h2>Latest News</h2>

        {{> molecules-related-content-news }}

        <a href="#" class="more button small">More news</a>

    </div>
</section>
<!-- End .latest-news-section -->
