<!-- Begin .promo-section -->
<section class="l-section promo-section">
    <div class="l-container">

        {{> molecules-promo-item }}
        {{> molecules-promo-item }}

    </div>
</section>
<!-- End .promo-section -->
