<!-- Begin .blog-list-section -->
<section class="blog-list-section">

    <header class="section-title">
        <h1>Blog Listing</h1>
    </header>

    <ol class="job-list">
    <li>{{> molecules-blog-list-item }}</li>
    <li>{{> molecules-blog-list-item }}</li>
    <li>{{> molecules-blog-list-item }}</li>
    <li>{{> molecules-blog-list-item }}</li>
    <li>{{> molecules-blog-list-item }}</li>
  </ol>

  <footer>
      {{> molecules-pagination }}
  </footer>

</section>
<!-- End .promo-section -->
