<!-- Begin .promo-section -->
<section class="l-section promo-section promo-section-map">
    <div class="l-container">

        {{> molecules-promo-map-item }}
        {{> molecules-promo-map-item }}

    </div>
</section>
<!-- End .promo-section -->
