<article class="search-list-item list-item is-saved" data-search-id="234233423">

    <div class="list-item-details">

        <header>
            <h3><a href="#">Give me a title</a> <a href="#" class="edit"><i class="icon-pencil"></i></a></h3>
            <form>
                <div class="field">
                    <label for="title_234233423">Search title</label>
                    <div class="input-button">
                        <input type="text" id="title_234233423" name=""
                               value="" placeholder="Give me a title">
                        <button>Save</button>
                    </div>
                </div>
            </form>
            <date datetime="2015-10-18" class="meta">1 day ago</date>
        </header>

        <div class="search-terms">
            <span>Frontend web developer,</span>
            <span>Javascript,</span>
            <span>Node.js</span>
        </div>

        {{> molecules-meta-list-sml }}

        <a href="#" class="save-search is-saved" data-alt-text="Save this search">
            <span class="icon-star-empty" aria-hidden="true"></span>
            <span class="icon-star-full" aria-hidden="true"></span>
            <span class="text">Forget this search</span>
        </a>

        <a href="#" class="enable-notifications is-saved" data-alt-text="Enable notifications">
            <span class="icon-mail-empty" aria-hidden="true"></span>
            <span class="icon-mail-full" aria-hidden="true"></span>
            <span class="text">Disable notifications</span>
        </a>

    </div>

</article>