//
//	LINKS
//
//	
//

$anchor-font-color: map-get($brandcolors, green);
$anchor-text-decoration: none;
$anchor-font-color-hover: darken($anchor-font-color, 20%);
$anchor-text-decoration-hover: none;
$anchor-transition: all 0.25s linear;
$link-font-weight: $font-weight-normal;

a {
  @include transition($anchor-transition);
  color: $anchor-font-color;
  line-height: inherit;
  text-decoration: $anchor-text-decoration;
  &:hover, &:focus {
    color: $anchor-font-color-hover;
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }
  img {
    border: none;
  }
}
