<div class="page is-logged-in" id="page">

  {{> organisms-header-logged-in }}

  <main id="content" role="main" class="main">

    {{> organisms-breadcrumb-section }}

    {{> molecules-user-name }}

    <div class="col-wrap candidate-dashboard-wrap">

      <div class="col-sub col">
          <div class="col-inner col-sub-inner">
              {{> molecules-sidebar-nav-dashboard-documents }}
          </div>
      </div>

      <div class="col-main col">

        <div class="col-inner col-main-inner">

            {{> organisms-documents-section }}

            <article>
                {{> molecules-generic-content }}
            </article>

            {{> molecules-job-search }}

            {{> organisms-featured-jobs-section-w-title }}

        </div>

      </div>

    </div>

  </main>

  {{> organisms-footer }}

</div>
