<blockquote class="testimonial">

    <div class="testimonial-inner">

        <div class="testimonial-img">
            <span class="user-name-avatar">
                <img src="../../assets/images/sample/user-avatar-sample.jpg" alt="John Smith">
            </span>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat molestie diam et dignissim. Fusce consectetur elit id sapien semper, id accumsan tellus convallis.
        </p>

        <cite>Jennifer Davies</cite>

    </div>

</blockquote>