//
//	META LIST
//
//  
//


$meta-list-bp: tabletLrg;
$meta-list-padding: $spacing-sml 0 0 0;
$meta-list-icon-width: 1.25rem;
$meta-list-icon-adjustment: rem(2);
$meta-list-lrg-width: 50%;
$meta-list-line-height: 1.1;
$meta-list-icon-color: map_get($brandcolors, black);


.meta-list {
  @include clearfix;
  @extend .no-bullet;
  margin: 0;
  line-height: $meta-list-line-height;
  li {
    padding: $meta-list-padding;
    font-family: $secondary-font;
    font-weight: bold;
    color: map-get($brandcolors, lightBlack);
    font-size: 0.9rem;
    &:last-child {
      padding-bottom: 0;
    }
    &.is-disabled {
      color: map-get($colors, lightGrey);
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: $meta-list-icon-width;
    text-align: center;
    position: relative;
    top: $meta-list-icon-adjustment;
    color: $meta-list-icon-color;
  }
  @include respond-to($meta-list-bp) {
    li {
      display: inline-block;
      margin-right: -4px;
      width: $meta-list-lrg-width;
      padding: $spacing-med 0 0;
    }
  }
}
