//
//	SIDEBAR NAV MENU
//
//
$sidebar-nav-bp:                desktopSml;
$sidebar-nav-bg:                map_get($brandcolors, brown);
$sidebar-nav-heading-font-size: inherit;
$sidebar-nav-list-spacing:      0;
$sidebar-nav-list-font-size:    1.13rem;
$sidebar-nav-title-colour: map_get($brandcolors, white);

//Dropdown item
$sidebar-nav-open-bg:                 $anchor-font-color;
$sidebar-nav-open-txt:                map_get($colors, white);
$sidebar-nav-open-padding:            $spacing-med;
$sidebar-nav-sml-dropdown-min-height: 700px;
//For slide animation

//sml
$sidebar-nav-padding-sml:             0;
$sidebar-nav-margin-sml:              0 0 $spacing-lrg 0;
$sidebar-nav-heading-margin-sml:      0;
$sidebar-nav-sml-heading-bg-sml:      transparent;
$sidebar-nav-sml-item-padding:        $spacing-med;
$sidebar-nav-sml-item-bg:             map_get($brandcolors, black);
$sidebar-nav-sml-item-bg-hover:       map_get($brandcolors, white);
$sidebar-nav-sml-item-txt:            map_get($colors, white);
$sidebar-nav-sml-item-txt-hover:      $anchor-font-color;
$sidebar-nav-sml-section-margin:      0;
$sidebar-nav-sml-active-bg:           map_get($brandcolors, white);
$sidebar-nav-sml-active-text:         $anchor-font-color;
$sidebar-nav-sml-active-text-weight:  300;

//lrg
$sidebar-nav-padding-lrg:             $spacing-lrg 0 $spacing-lrg $spacing-med;
$sidebar-nav-heading-margin-lrg:      0;
$sidebar-nav-sml-heading-bg-lrg:      transparent;
$sidebar-nav-lrg-item-padding:        $spacing-sml $spacing-med;
$sidebar-nav-lrg-item-bg:             transparent;
$sidebar-nav-lrg-item-bg-hover:       map-get($colors, lightGrey);
$sidebar-nav-lrg-item-txt:            map_get($brandcolors, white);
$sidebar-nav-lrg-item-txt-hover:      $anchor-font-color;
$sidebar-nav-lrg-section-margin:      0 0 $spacing-lrg;
$sidebar-nav-lrg-active-bg:           $sidebar-nav-lrg-item-bg-hover;
$sidebar-nav-lrg-active-text:         map-get($brandcolors, black);
$sidebar-nav-lrg-active-text-weight:  300;

//SMALLER
.sidebar-nav-menu {
  background: $sidebar-nav-bg;
  padding: $sidebar-nav-padding-sml;
  margin: $sidebar-nav-margin-sml;

  ul {
    @extend .h-no-list-styles;
  }

  &.is-active {
    .sidebar-nav-menu-section-wrap {
      max-height: $sidebar-nav-sml-dropdown-min-height;
    }

    #sidebar-nav-menu-toggle {
      i {
        @include transform(rotate(180deg));
      }
    }
  }
}

.sidebar-nav-menu-section-wrap {
  //display: none;
  max-height: 0;
  overflow: hidden;
  @include transform(translateZ(0));
  @include transition(max-height 500ms ease-in-out);
}

#sidebar-nav-menu-toggle {
  display: block;
  color: $sidebar-nav-open-txt;
  background: $sidebar-nav-open-bg;
  padding: $sidebar-nav-open-padding;

  i {
    float: right;
    @include transition(transform 500ms ease-in-out);
  }
}

.sidebar-nav-menu-section {
  margin: $sidebar-nav-sml-section-margin;

  h3 { display: none; }

  ul {
    li {
      margin-bottom: $sidebar-nav-list-spacing;
      font-size: $sidebar-nav-list-font-size;

      a {
        display: block;
        padding: $sidebar-nav-sml-item-padding;
        background: $sidebar-nav-sml-item-bg;
        color: $sidebar-nav-sml-item-txt;

        &:hover {
          background: $sidebar-nav-sml-item-bg-hover;
          color: $sidebar-nav-sml-item-txt-hover;
        }
      }

      &.is-active {
        a {
          background: $sidebar-nav-sml-active-bg;
          color: $sidebar-nav-sml-active-text;
          font-weight: $sidebar-nav-sml-active-text-weight;
        }
      }
    }
  }
}

/*@include respond-to(tabletLrg) {
  .sidebar-nav-menu {
    margin-left: -1rem;
    margin-right:-1rem;
  }
}*/

@include respond-to(tabletLrg) {
  .sidebar-nav-menu {
    margin-bottom: 0;
  }
}

//LARGER
@include respond-to($sidebar-nav-bp) {
  .sidebar-nav-menu {
    padding: $sidebar-nav-padding-lrg;
    margin: 0;
  }

  .sidebar-nav-menu-section-wrap {
    max-height: 100%;
  }

  .sidebar-nav-menu-section {
    padding: 0;
    margin: $sidebar-nav-lrg-section-margin;
    color: $sidebar-nav-title-colour;

    h3 {
      display: block;
      //font-size: $sidebar-nav-heading-font-size;
      padding: 0 0 $spacing-sml 0;
      background: $sidebar-nav-sml-heading-bg-lrg;
      margin: $sidebar-nav-heading-margin-lrg;
      @extend %h4;
    }

    ul {
      li {
        font-size: $sidebar-nav-list-font-size;

        a {
          //margin-left: $spacing-med;
          display: block;
          padding: $sidebar-nav-lrg-item-padding;
          background: $sidebar-nav-lrg-item-bg;
          color: $sidebar-nav-lrg-item-txt;

          &:hover {
            background: $sidebar-nav-lrg-item-bg-hover;
            color: $sidebar-nav-lrg-item-txt-hover;
          }
        }

        &.is-active {
          a {
            background: $sidebar-nav-lrg-active-bg;
            color: $sidebar-nav-lrg-active-text;
            font-weight: $sidebar-nav-lrg-active-text-weight
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar-nav-menu-toggle {
    display: none;
  }
}