<p class="msg is-error">This is what error text looks like</p>
<p class="msg is-valid">This is what valid text looks like</p>
<p class="msg is-warning">This is what warning text looks like</p>
<p class="msg is-info">This is what information text looks like.</p>