<form action="#" method="post" id="form-myprofile" class="form-inline form-my-profile form-validate form-2-col" novalidate="novalidate">

    <div class="candidate-dashboard-section">

		    <header class="candidate-dashboard-section-heading">
		        <h2>Profile</h2>
		    </header>

        {{> molecules-fieldset-sign-in-profile}}

    </div>

    <div class="candidate-dashboard-section">
        {{> molecules-fieldset-about-you-profile}}
    </div>
    <div class="candidate-dashboard-section">
        {{> molecules-fieldset-your-job-preferences-profile}}
    </div>

    <div class="form-controls">
    	<button id="btn-save-profile" type="submit">Save</button>
    </div>


</form>