<form action="#" method="post" id="form-sign-up" class="form-inline form-2-col form-sign-up form-validate" novalidate="novalidate">

    <div>

        {{> molecules-fieldset-sign-up}}
        {{> molecules-fieldset-about-you}}
        {{> molecules-fieldset-your-job-preferences}}
        {{> molecules-fieldset-newsletter-preferences}}

        <button id="btn-register" type="submit">Register</button>

    </div>

</form>