<form action="#" method="post" id="form-enquiry" class="form-inline form-2-col form-enquiry form-validate" novalidate="novalidate">

    <div>

        {{> molecules-fieldset-general-enquiry}}
        
        <div class="form-controls">
	        <button id="btn-contact-submit" type="submit">Submit</button>
	      </div>

    </div>

</form>