//
//	JOB LIST SECTION HEADING
//
//  
//

//$candidate-dashboard-section-heading-bp:	tabletLrg;

$candidate-dashboard-section-heading-padding: 0;
$candidate-dashboard-section-heading-bg: transparent;
$candidate-dashboard-section-heading-margin: 0 0 $spacing-med 0;
$candidate-dashboard-section-txt-color: map-get($brandcolors, black);
$candidate-dashboard-section-txt-size: rem(24);

.candidate-dashboard-section-heading {
  padding: $candidate-dashboard-section-heading-padding;
  background: $candidate-dashboard-section-heading-bg;
  margin: $candidate-dashboard-section-heading-margin;

  h2 {
    margin: 0;
    color: $candidate-dashboard-section-txt-color;
    font-size: $candidate-dashboard-section-txt-size;
  }
}