<div class="user-name">
    <span class="user-name-avatar">
        <img src="../../assets/images/sample/user-avatar-sample.jpg" alt="John Smith">
    </span>
    <span class="user-name-text">Geoffrey Plantagenet</span>

    <a href="#" id="btn-logout" class="small button secondary">Log out</a>
</div>