<article class="blog-list-item list-item">

  <div class="list-item-details">

    <h2><a href="#">5 ways to show appreciation for your virtual employees</a></h2>

    {{> molecules-article-meta}}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <ul class="tag-list">
      <li>
        <a href="#" class="tag">Tag1</a>
      </li>
      <li>
        <a href="#" class="tag">Tag2</a>
      </li>
      <li>
        <a href="#" class="tag">Tag3</a>
      </li>
    </ul>

  </div>

</article>