<fieldset>
    <div class="field">
        <label for="select">Select</label>
        <select id="select">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
    <div class="field">
        <label for="select-error">Select error <abbr title="Required">*</abbr></label>
        <select id="select-error" class="error">
            <option>Please select an option</option>
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
        <label for="select-error" class="error">This is a required field</label>
    </div>
</fieldset>