<form action="#">
    <fieldset class="options">
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
        <ul class="no-bullet">
            <li><label for="checkbox1" class="checkbox-label"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> <span>Choice A</span></label>
            </li>
            <li><label for="checkbox2" class="checkbox-label"><input id="checkbox2" name="checkbox" type="checkbox"> <span>Choice B</span></label></li>
            <li><label for="checkbox3" class="checkbox-label"><input id="checkbox3" name="checkbox" type="checkbox"> <span>Choice C</span></label></li>
        </ul>
    </fieldset>
</form>