<div class="alert-box alert-box-error">
    <header>
        <h3><i class="icon-alert" aria-hidden="true"></i> Sorry, there are errors in this form</h3>
        <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </header>

    <ul>
    	<li><a href="#first-name">First name</a> is a required field</li>
    	<li><a href="#email">Email address</a> is not valid</li>
    </ul>
    
</div>