<div class="alert-box alert-box-neutral">
    <header>
        <h3><i class="icon-alert" aria-hidden="true"></i> Did you know..</h3>
        <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
    </header>

    <p>There are <strong>14</strong> more opportunities available to you if you expand your search to within <strong>20 miles</strong>.</p>

    <p><a href="#">Expand your search to <strong>within 20 miles</strong></a></p>
</div>