<div class="alert-box alert-box-form alert-box-error">
    <p><i class="icon-bell" aria-hidden="true"></i>Application deadline has passed.</p>
    <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
</div>