<div class="alert-box alert-box-form alert-box-warn">
    <p><i class="icon-bell" aria-hidden="true"></i>You only have 3 days left to apply.</p>
    <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
</div>