<div class="alert-box alert-box-summary alert-box-ok">
    <p>
        My Searches and Alerts
        {{> atoms-notification-icon }}
    </p>
    <button class="alert-box-close"><i class="icon-close" aria-hidden="true"></i><span>Close</span></button>
</div>