//
// REGISTER CTA
//
//
$register-bp: desktopSml;
$register-padding: $spacing-lrg;
$register-padding-dt: 0 $spacing-lrg;

.register {
  @extend .form-inline;
  padding: $register-padding;

  h3 {
    @extend %h5;
    margin-bottom: $spacing-sml;
  }

  @include respond-to($register-bp) {
    padding: $register-padding-dt;
  }
}