<div class="demo">
    <div class="l-row">
        <div class="gi l-1of1">1/1</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of2">1</div>
        <div class="gi l-1of2">2</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of3">1</div>
        <div class="gi l-1of3">2</div>
        <div class="gi l-1of3">3</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of4">1</div>
        <div class="gi l-1of4">2</div>
        <div class="gi l-1of4">3</div>
        <div class="gi l-1of4">4</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of5">1</div>
        <div class="gi l-1of5">2</div>
        <div class="gi l-1of5">3</div>
        <div class="gi l-1of5">4</div>
        <div class="gi l-1of5">5</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of6">1</div>
        <div class="gi l-1of6">2</div>
        <div class="gi l-1of6">3</div>
        <div class="gi l-1of6">4</div>
        <div class="gi l-1of6">5</div>
        <div class="gi l-1of6">6</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of7">1</div>
        <div class="gi l-1of7">2</div>
        <div class="gi l-1of7">3</div>
        <div class="gi l-1of7">4</div>
        <div class="gi l-1of7">5</div>
        <div class="gi l-1of7">6</div>
        <div class="gi l-1of7">7</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of8">1</div>
        <div class="gi l-1of8">2</div>
        <div class="gi l-1of8">3</div>
        <div class="gi l-1of8">4</div>
        <div class="gi l-1of8">5</div>
        <div class="gi l-1of8">6</div>
        <div class="gi l-1of8">7</div>
        <div class="gi l-1of8">8</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of9">1</div>
        <div class="gi l-1of9">2</div>
        <div class="gi l-1of9">3</div>
        <div class="gi l-1of9">4</div>
        <div class="gi l-1of9">5</div>
        <div class="gi l-1of9">6</div>
        <div class="gi l-1of9">7</div>
        <div class="gi l-1of9">8</div>
        <div class="gi l-1of9">9</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of10">1</div>
        <div class="gi l-1of10">2</div>
        <div class="gi l-1of10">3</div>
        <div class="gi l-1of10">4</div>
        <div class="gi l-1of10">5</div>
        <div class="gi l-1of10">6</div>
        <div class="gi l-1of10">7</div>
        <div class="gi l-1of10">8</div>
        <div class="gi l-1of10">9</div>
        <div class="gi l-1of10">10</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of11">1</div>
        <div class="gi l-1of11">2</div>
        <div class="gi l-1of11">3</div>
        <div class="gi l-1of11">4</div>
        <div class="gi l-1of11">5</div>
        <div class="gi l-1of11">6</div>
        <div class="gi l-1of11">7</div>
        <div class="gi l-1of11">8</div>
        <div class="gi l-1of11">9</div>
        <div class="gi l-1of11">10</div>
        <div class="gi l-1of11">11</div>
    </div>
    <div class="l-row">
        <div class="gi l-1of12">1</div>
        <div class="gi l-1of12">2</div>
        <div class="gi l-1of12">3</div>
        <div class="gi l-1of12">4</div>
        <div class="gi l-1of12">5</div>
        <div class="gi l-1of12">6</div>
        <div class="gi l-1of12">7</div>
        <div class="gi l-1of12">8</div>
        <div class="gi l-1of12">9</div>
        <div class="gi l-1of12">10</div>
        <div class="gi l-1of12">11</div>
        <div class="gi l-1of12">12</div>
    </div>

</div><!--end .demo-->