<div class="demo nested-grid">
    <div class="l-row">
        <div class="gi gi-content">
            1
            <div class="l-row-inner">
                <div class="gi">1</div>
                <div class="gi">2</div>
                <div class="gi">3</div>
                <div class="gi">4</div>
                <div class="gi">5</div>
                <div class="gi">6</div>
            </div>
        </div>
        <div class="gi gi-sidebar">
            2
            <div class="l-row-inner">
                <div class="gi">1</div>
                <div class="gi">2</div>
                <div class="gi">3</div>
                <div class="gi">4</div>
            </div>
        </div>

    </div>
</div><!--end .demo-->