<!-- Begin .job-list-section -->
<section class="job-list-section job-list-section-inpage">

    <ol class="job-list">
        <li>{{> molecules-job-list-item }}</li>
        <li>{{> molecules-job-list-item-no-logo }}</li>
        <li>{{> molecules-job-list-item-no-logo }}</li>
    </ol>
    
</section>
<!-- End .job-list-section -->
