<section id="job-details-tabs" data-tab-content="job-details-tab-content" data-retractable="true" class="collapsible-tabs collapsible-tabs-responsive">

	<ul class="tab-controls tabs-3">
		<li>
			<a href="#tab-quick-apply" class="button small block">Quick apply</a>
		</li>
		<li>
			<a href="#tab-request-callback" class="button small block">Request a call back</a>
		</li>
		<li>
			<a href="#tab-send-to-friend" class="button small block">Send to a friend</a>
		</li>
	</ul>

	<div class="collapsible-tabs-content-destination"></div>

</section>