<div id="job-details-tab-content" class="collapsible-tabs-content">

	<div class="collapsible-tabs-content-item" id="tab-quick-apply">
		{{> molecules-quick-apply }}
	</div>

	<div class="collapsible-tabs-content-item" id="tab-request-callback">
		{{> molecules-request-callback }}
	</div>

	<div class="collapsible-tabs-content-item" id="tab-send-to-friend">
		{{> molecules-send-to-friend }}
	</div>

</div>