//
//	USER NAME
//
//
//


$user-name-bp:						tabletLrg;
$user-name-padding:       1.33rem $spacing-med;
$user-name-bg:            map-get($colors, white);
$user-name-avatar-margin: 0 $spacing-med 0 0;
$user-name-avatar-border: 0;
$user-name-border-radius: 100%;
$user-name-font-size:     rem(24);
$user-name-avatar-size-sml: 4rem;


.user-name {
  @extend %container;
  padding:    $user-name-padding;
  background: $user-name-bg;
  position:   relative;

  .user-name-avatar,
  .user-name-text {
    display: inline-block;
    vertical-align: middle;
  }

  .user-name-text {
    font-size:      $user-name-font-size;
    display:        inline-block;
    padding-right:  5rem;
  }

  .user-name-avatar {
    margin: $user-name-avatar-margin;
    width:  $user-name-avatar-size-sml;
    height: $user-name-avatar-size-sml;
    margin-bottom: $spacing-med;

    img {
      border-radius:  $user-name-border-radius;
      border:         $user-name-avatar-border;
    }
    @include respond-to($user-name-bp) {
      width:  auto;
      height: auto;
      margin-bottom:0;
    }
  }
  .button {
    position:absolute;
    top: 50%;
    @include transform(translateY(-50%));
    right:  $spacing-med;
    margin-top: -1rem;
    margin-bottom: 0;
    @include respond-to(phoneLrg) {
      margin-top:0;
    }
  }

}