<article class="promo-item promo-map">

	<div class="promo-map-inner">

	  <div class="promo-item-map gmap" data-lat="51.405945" data-lng="-1.326661" data-map-title="Office name"></div>

	  <div class="promo-item-body">

	      <h3>Office name</h3>

	      <p>1 - 3 Street name<br>Town<br>County<br>PC1 1PC</p>

	  </div>

	</div>

</article>