<article class="promo-item">

    <a href="#">

        <div class="promo-item-image">
            <img src="../../assets/images/promo-item-2.jpg" alt="promo item img title"/>
        </div>

        <div class="promo-item-body">

            <h3>{{promo-item.promo-title}}</h3>

            <p>{{promo-item.promo-description}}</p>

        </div>

    </a>

</article>