<div class="consultant-details">
    <div class="consultant-details-inner">
        <span class="user-status-avatar">
            <img src="../../assets/images/sample/user-avatar-sample.jpg" alt="John Smith">
        </span>
        <div class="consultant-info">
            <h5>Consultant:</h5>
            <h6>{{consultantInfo.consultantName}}</h6>
            <span class="consultant-info-phone">{{consultantInfo.contactPhone}}</span>
            <span class="consultant-info-email">{{consultantInfo.contactEmail}}</span>
        </div>
    </div>
</div>