<div class="mini-bio">
    <header class="mini-bio-header">
        <h5>{{miniBio.miniBioTitle}}</h5>
        <h6><a href="#">{{miniBio.miniBioName}}</a></h6>
    </header>

    <div class="mini-bio-info">
        <div class="mini-bio-avatar mini-bio-info-section">
            <span class="user-status-avatar">
                <img src="../../assets/images/sample/user-avatar-sample.jpg" alt="John Smith">
            </span>
        </div>
        <div class="mini-bio-info-phone-wrap mini-bio-info-section">
            <i class="icon-phone"></i>
            <span class="mini-bio-info-phone"><a href="tel:{{miniBio.miniBioPhone}}">{{miniBio.miniBioPhone}}</a></span>
        </div>
        <div class="mini-bio-info-email-wrap mini-bio-info-section">
            <i class="icon-mail-empty"></i>
            <span class="mini-bio-info-email"><a href="mailto:{{miniBio.miniBioEmail}}">{{miniBio.miniBioEmail}}</a></span>
        </div>
    </div>
</div>