<div class="social-media-share">

    <span class="social-media-caption">Share this:</span>

    <ul class="nav-social">
        <li>
            <a href="#" class="share-Facebook">
                <span class="icon-facebook" aria-hidden="true"></span>
                <span class="nav-social-text">Facebook</span>
            </a>
        </li>
        <li>
            <a href="#" class="share-Twitter">
                <span class="icon-twitter" aria-hidden="true"></span>
                <span class="nav-social-text">Twitter</span>
            </a>
        </li>
        <li>
            <a href="#" class="share-GooglePlus">
                <span class="icon-googleplus" aria-hidden="true"></span>
                <span class="nav-social-text">Google+</span>
            </a>
        </li>
        <li>
            <a href="#" class="share-LinkedIn">
                <span class="icon-linkedin" aria-hidden="true"></span>
                <span class="nav-social-text">LinkedIn</span>
            </a>
        </li>
    </ul>
</div>
