<div class="related-content">

    <ol>
        <li>
            {{> molecules-job-list-item-related }}
        </li>
        <li>
            {{> molecules-job-list-item-related }}
        </li>
        <li>
            {{> molecules-job-list-item-related }}
        </li>
    </ol>

</div>