<div class="page-title-person">
    <div class="page-title-person-inner">
        <span class="user-status-avatar">
            <img src="../../assets/images/sample/user-avatar-sample.jpg" alt="John Smith">
        </span>
        <div class="page-title-person-info">
            <h1>Jeremy Ronson</h1>
            <h2>Head of consulting</h2>
        </div>
    </div>
</div>