<a href="#modal" class="button large">Open modal</a>

<div class="remodal" id="modal" data-remodal-id="modal">

  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Remodal</h1>
 
  <button data-remodal-action="confirm" class="remodal-confirm secondary">OK</button>
</div>