//
//	BRAND POSITIONING
//
//  
//

$brand-positioning-padding: 0;
$brand-positioning-align: center;
$brand-positioning-max-width: 48rem;

.brand-positioning {
  @extend %container;
  max-width: $brand-positioning-max-width;
  padding: $brand-positioning-padding;
  text-align: $brand-positioning-align;

  p {
    margin: 0;
  }
}