//
//	CONSULTANT DETAILS
//
//
//

$consultant-details-bg: map_get($colors, lightGrey);
$consultant-details-img-spacing : $spacing-sml;
$consultant-details-padding: $spacing-med;
$consultant-details-heading-primary-font-size: $font-size-sml;
$consultant-details-heading-primary-margin: 0 0 0.125rem;
$consultant-details-heading-secondary-font-size: 1.2rem;
$consultant-details-heading-secondary-margin: 0;
$consultant-details-text-font-size: $font-size-sml;


.consultant-details {
  background: $consultant-details-bg;
  padding: $consultant-details-padding;
}

.consultant-details-inner {
  text-align: center;

  .consultant-info {
    text-align: left;
  }

  .user-status-avatar,
  .consultant-info {
    display: inline-block;
    vertical-align: middle;
  }

  .user-status-avatar {
    margin-right: $consultant-details-img-spacing;
    max-width: none;
    max-height: none;
  }

  h5 {
    font-size: $consultant-details-heading-primary-font-size;
    margin: $consultant-details-heading-primary-margin;
  }

  h6 {
    font-size: $consultant-details-heading-secondary-font-size;
    margin: $consultant-details-heading-secondary-margin;
  }

  span {
    display: block;
    margin: 0;
    font-size: $consultant-details-text-font-size;
  }
}