//
//	PAGE TITLE - PERSON
//
//
//

$page-title-person-img-spacing : $spacing-sml;
$page-title-person-padding: 0;
$page-title-person-margin: 0 0 $spacing-lrg 0;
//$page-title-person-heading-primary-font-size: $font-size-sml;
$page-title-person-heading-primary-margin: 0 0 0.125rem;
$page-title-person-heading-secondary-margin: 0;
$page-title-person-text-font-size: $font-size-sml;

.consultant-heading {
  padding: $spacing-lrg 0 $spacing-med 0;
  margin: $page-title-person-margin;
  border-bottom: 1px solid map_get($brandcolors, lightGrey);

  .page-title-person-inner {
    text-align: left;
  }
}

.page-title-person {
  padding: $page-title-person-padding;
}

.page-title-person-inner {
  @include clearfix;
  text-align: center;
  display: table;

  .page-title-person-info {
    text-align: left;
  }

  .user-status-avatar,
  .page-title-person-info {
    display: table-cell;
    vertical-align: middle;
  }

  .user-status-avatar {
    position: static;
    margin-right: $page-title-person-img-spacing;
    max-width: none;
    max-height: none;
    padding-right: $spacing-med;
  }

  h1 {
    margin: $page-title-person-heading-primary-margin;
  }

  h2 {
    @extend %h3;
    margin: $page-title-person-heading-secondary-margin;
  }

  span {
    display: block;
    margin: 0;
    font-size: $page-title-person-text-font-size;
  }
}